html , body{
    height: 100%;
    width: 100%;
overflow: hidden;
}


#main{
   
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(18,65,117,1) 100%);
}
#panel{
    overflow: hidden;
    border-radius: 10px;
    height: 90%;
    width: 90%;
    background-color: #fff;
}
#tpnel{
  
    justify-content: space-around;
    align-items: center;
    display: flex;
    height: 100px;
    width: 100%;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(159,9,9,1) 50%, rgba(252,176,69,1) 100%);
}
#bpanel{
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    display: flex;
   gap: 20px;
   flex-wrap: wrap;
 height: calc(100% - 100px);
 width: 100%;
 background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(120,10,32,1) 100%);
}
.box{
    color:rgb(165, 16, 16);
    padding: 10px;
    border-radius: 5px;
    background-color:white;
 
}
.elem{
    padding: 10px;
    font-weight: 500px
    ;
   font-size: 25px;
 align-items: center;
  display: flex;
   
}
.bubble{
    color: #fff;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: rgb(56,9,121);
    background: linear-gradient(90deg, rgba(56,9,121,1) 0%, rgba(40,45,46,1) 100%);
    font-weight: 900;
    font-size: x-large;
}
.bubble:hover{
    cursor: pointer;
    color:radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(18,65,117,1) 100%) ;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(159,9,9,1) 50%, rgba(252,176,69,1) 100%);
   box-shadow: 2px 2px 40px red;
}
.head{
  
}
h1{
   
    font-size: xx-large;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(18,65,117,1) 100%);
}
